// Utilities
@use "utilities/variables" as *;
@use "utilities/mixins" as *;

// Base
@use "base/reset";
@use "base/base";

// Layout
@use "layout/layout";
@use "layout/sidebar";
@use "layout/main";

// Modules
@use "modules/nav";
@use "modules/burger";
@use "modules/video";
@use "modules/grid";

// Pages
@use "pages/index";
@use "pages/work";
@use "pages/info";