:root {
    --gutter: 1rem;
    --font: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px/1.5 var(--font);
    background: #fff;
    color: #000;
    text-align: justify;
}

[hidden] {
    display: none !important;
}

.page {
    padding: 2rem;
    max-width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shuffled {
    margin: 0 0 1rem 0;
}

/* Video bottom */
.videoWrap video {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2rem;
}

.page-view-counter {
    font-style: italic;
    margin: 2.4rem 0 2.4em 0 !important;
    text-align: right;
    font-size: 16px;
    margin-bottom: 2.4rem;
    word-break: break-word;
}

/* Top-right ? */

.top-nav {
    margin: 0;
    padding: 0 0 2rem 0;
    z-index: 10000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    pointer-events: none;
}

.top-nav a {
    pointer-events: auto;
    text-decoration: none;
    color: inherit;
}

.backBtn {
    font-size: 18px;
    font-weight:bold;
}

.infoBtn {
    line-height: 1.1;
    font-weight: bold;
    font-style: italic;
    z-index: 1000;
    color: black;
    text-decoration: none;
}

/* Overlay */
.infoPanel {
    position: fixed;
    inset: 0;
    z-index: 2000;
}

.infoPanel__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.06);
}

.infoPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #000;
    padding: 0;
    overflow: auto;
    text-align: left;
}

.infoPanel__panel {
    padding: 2rem;
    max-width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hyperlink-container {
    text-align: center;
}

.hyperlink-container-top {
    text-align: right;
    margin-top:0;
    font-style: italic;
}
.hyperlink {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.hyperlink:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

blockquote {
    border-left: solid 5px #ffffff;
    font-weight: normal;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 0 0 0 5%;
}

/* Phone */
@media (max-width: 600px) {
  .page {
    max-width: 100%;
    padding: 1rem; /* optional, feels better on small screens */
  }
  .infoPanel__panel {
    max-width: 100%;
    padding: 1rem; /* optional, feels better on small screens */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}