$gutter: 2rem;
$max: 1200px;

$sidebar-w: 20%;
$main-w: 80%;
$bp: 820px;

// Typography
$font: Helvetica, Arial, sans-serif;
$font-size: 12.5px;
$font-size-lg: 14px;
$line-height: 1.4;

// Font Weights
$font-weight--thin:100;
$font-weight--light:300;
$font-weight--medium:400;
$font-weight--bold:700;
$font-weight--ultra--bold:900;

// Colors
$text: #000;
$bg: #fff;
$muted: #666;

// Z-index
$z-menu: 1000;