@use "../utilities" as *;

body {
  font: #{$font-size}/#{$line-height} $font;
  color: $text;
  background: $bg;
}

a {
  color: inherit;
  text-decoration: none;
}

.link-view{text-decoration: underline;}

figure {
  margin: 0;
}

.muted { color: $muted; }
.right { text-align: right; }

.section-title {
  font-weight: normal;
  font-size: $font-size;
  margin: 0 0 $gutter 0;
}

.indent-left{
  padding-left:1.5rem;
}

.click-video {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  background: transparent; /* removes black box while loading */
}

