  video {
    width: 100%;
    height: auto;
    display: block;
  }

  .video-embed {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 */
  }

  .video-embed iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }